.FinishedQuiz {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;
}

.FinishedQuiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.FinishedQuiz ul li i {
  margin-left: 10px;
}

.success {
  color: rgba(138, 253, 6, 0.7);
}

.error {
  color: rgba(253, 147, 161, 0.7);
}
